
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div:first-child a:first-child {
    color:rgba(0, 150, 0,0.7);
    background: none;
    font-size: 2em;
}
header div:first-child a:first-child:hover {
    background: none;
    color:rgba(0, 170, 0,1);
}

header .menu{
    display: flex;
    align-items: center;
    width: 60vw;
    margin-right: 20px;
    height: 100%;
    justify-content: space-evenly;
}
header div{
    color:rgb(156, 156, 156);
}
header div:first-child{
    margin-left: 30px;
}
header div span:first-child{
    margin: 0;
}
header div span{
    display: flex;
    width: 10vw;
    align-items: center;
    justify-content: center;
    
}
header{
    font-family:  'Calibri';
    font-weight: bold;
    font-size: 1.5em;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 80px;
}
header div a:last-child,header div a:nth-child(3){
    background: white;
    border-radius: 15px;
    height: 50%;
    color: black;
    justify-content: center;
    transition:0.8s;
}
header div a:last-child:hover,header div a:nth-child(3):hover{
    background: black;
    color: white;
    transition:0.8s;
}
header div a:nth-child(5){
    margin-right: 30px;
}
header a{
    color:rgb(156, 156, 156);
    text-decoration: none;
    transition: 0.8s;
    
}
header a:hover{
    color:white;
}
.bg0{
    background-color: rgba(6, 205, 2, 0.911);
    box-shadow: -10px 0px 20px 20px rgba(6, 205, 2, 0.911);
    transition: 2s;
}
.bg1{
    background-color: rgba(0, 0, 0, 0.911);
    box-shadow: -10px 0px 20px 20px rgba(0, 0, 0, 0.911);
    transition: 2s;
}
.bg2{
    background-color: rgba(233, 132, 0, 0.911);
    box-shadow: -10px 0px 20px 20px rgba(233, 132, 0, 0.911);
    transition: 2s;
}
.bg3{
    background-color: rgba(75, 40, 0, 0.911);
    box-shadow: -10px 0px 20px 20px rgba(75, 40, 0, 0.911);
    transition: 2s;
}
.bg4{
    background-color: rgba(165, 22, 165, 0.911);
    box-shadow: -10px 0px 20px 20px rgba(165, 22, 165, 0.911);
    transition: 2s;
}
.bg0.is-actif,.bg1.is-actif,.bg2.is-actif,.bg3.is-actif,.bg4.is-actif{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    transition: 2s;
}

.manual-btn{
    border: 1px rgb(156, 156, 156) solid;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: 1s;
}
.mobile-nav{
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.918);
    padding-top: 150px;
    transition: 0.8s;
    opacity: 0;
  }
  .mobile-nav a{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      font-size: 25px;
      color: rgb(255, 255, 255);
      opacity: 0.8;
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Fugaz One', cursive;
      text-decoration: none;
  }
  .mobile-nav.is-actif{
      top: 0;
      opacity: 1;
      z-index: 9;
  }
  .mobile-nav a:hover{
      width: 100%;
      height: 100%;
      opacity: 1;
      color: rgba(0, 168, 8, 0.9);
  }
  header .mdi-menu{
    display:none;
}

  header.is-actif{
    transition: 0.8s;
    z-index: 10;
    background-color: none;
    box-shadow: none;
} 
@media (max-width: 1200px) {
    body{font-size: 0.9em;}
 }
@media (max-width: 992px) {
    body{font-size: 0.8em;}
}
@media (max-width: 768px) { 
    body{font-size: 0.7em;}
 }
@media (max-width: 576px) {
    
    body{font-size: 0.6em;}
    header .menu {
        display: none;
    }
    header .mdi-menu {
        z-index: 10;
        display: block;
        color:rgb(156, 156, 156);
        font-size: 2.5em;
        margin-right: 40px;
        cursor:pointer;
        transition:0.8s;
    }
    header .mdi-menu:hover,header .mdi-menu.is-actif{
        color:white;
    }
}